@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Her tilføjes theme variable // tokens */
  --color-gronn-50: #EAFOE2;
  --color-gronn-100: #DBE6C7;  
  --color-gronn-200: #DBE6C7;
  --color-gronn-300: #DBE6C7;
  --color-gronn-400: #DBE6C7;
  --color-gronn-500: #DBE6C7;
  --color-gronn-600: #DBE6C7;
  --color-gronn-700: #DBE6C7;
  --color-gronn-800: #324119;
  --color-gronn-900: #DBE6C7;

  --color-blaa-50: #EAFOE2;
  --color-blaa-100: #DBE6C7;  
  --color-blaa-200: #DBE6C7;
  --color-blaa-300: #DBE6C7;
  --color-blaa-400: #DBE6C7;
  --color-blaa-500: #DBE6C7;
  --color-blaa-600: #DBE6C7;
  --color-blaa-700: #DBE6C7;
  --color-blaa-800: #DBE6C7;
  --color-blaa-900: #DBE6C7;

  --color-rosa-50: #EAFOE2;
  --color-rosa-100: #DBE6C7;  
  --color-rosa-200: #DBE6C7;
  --color-rosa-300: #DBE6C7;
  --color-rosa-400: #DBE6C7;
  --color-rosa-500: #DBE6C7;
  --color-rosa-600: #DBE6C7;
  --color-rosa-700: #DBE6C7;
  --color-rosa-800: #DBE6C7;
  --color-rosa-900: #DBE6C7;

  --color-gul-50: #EAFOE2;
  --color-gul-100: #DBE6C7;  
  --color-gul-200: #DBE6C7;
  --color-gul-300: #DBE6C7;
  --color-gul-400: #FAF9E2;
  --color-gul-500: #DBE6C7;
  --color-gul-600: #DBE6C7;
  --color-gul-700: #DBE6C7;
  --color-gul-800: #DBE6C7;
  --color-gul-900: #DBE6C7;

  --color-brun-50: #EAFOE2;
  --color-brun-100: #DBE6C7;  
  --color-brun-200: #DBE6C7;
  --color-brun-300: #DBE6C7;
  --color-brun-400: #DBE6C7;
  --color-brun-500: #DBE6C7;
  --color-brun-600: #DBE6C7;
  --color-brun-700: #DBE6C7;
  --color-brun-800: #DBE6C7;
  --color-brun-900: #DBE6C7;

  --font-weight-normal: 400;

  --text-sm: 1rem;
  --text-sm--line-height: calc(1.5 / 1);
  --text-base: 1.25rem;
  --text-base--line-height: calc(1.75 / 1.25);
  --text-lg: 1.5rem;
  --text-lg--line-height: calc(2 / 1.5);
  --text-xl: 2.25rem;
  --text-xl--line-height: calc(2.75 / 2.25);
  --text-2xl: 2.5rem;
  --text-2xl--line-height: calc(3 / 2.5);
  --text-3xl: 4rem;
  --text-3xl--line-height: calc(4.5 / 4);
  --text-4xl: 6rem;
  --text-4xl--line-height: calc(6.5 / 6);
}

@layer base {
  h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 800;
    color: var(--color-gronn-800);
  }

  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: 800;
    color: var(--color-gronn-800);
  }

  h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: 800;
    color: var(--color-gronn-800);
  }

  h4 {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: 700;
    color: var(--color-gronn-800);
  }

  h5 {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 700;
    color: var(--color-gronn-800);
  }

  p {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 500;
    color: var(--color-gronn-800);
  }

  .p-small {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 500;
    color: var(--color-gronn-800);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{
  /* .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  } */
}
@layer utilities{
  
}