@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Her tilføjes theme variable // tokens */
  --color-gronn-50: #EAFOE2;
  --color-gronn-100: #DBE6C7;  
  --color-gronn-200: #B7C999;
  --color-gronn-300: #99AE79;
  --color-gronn-400: #7B8F59;
  --color-gronn-500: #596C3A;
  --color-gronn-600: #4C5F2E;
  --color-gronn-700: #3F5022;
  --color-gronn-800: #324119;
  --color-gronn-900: #243010;

  --color-blaa-50: #F6FEFD;
  --color-blaa-100: #EBFDFA;  
  --color-blaa-200: #DAF6F1;
  --color-blaa-300: #D2F1EC;
  --color-blaa-400: #CCEBE6;
  --color-blaa-500: #AECEC9;
  --color-blaa-600: #91B1AB;
  --color-blaa-700: #74928D;
  --color-blaa-800: #59736F;
  --color-blaa-900: #3E534F;

  --color-rosa-50: #FFE4ED;
  --color-rosa-100: #FFDDE6;  
  --color-rosa-200: #FFD0DB;
  --color-rosa-300: #FFC2D1;
  --color-rosa-400: #F9B6C7;
  --color-rosa-500: #F89BB0;
  --color-rosa-600: #E27A92;
  --color-rosa-700: #D9627F;
  --color-rosa-800: #C54D6D;
  --color-rosa-900: #A63654;

  --color-gul-50: #FFFFF7;
  --color-gul-100: #FFFFF0;  
  --color-gul-200: #FFFEEB;
  --color-gul-300: #FDFCE6;
  --color-gul-400: #FAF9E2;
  --color-gul-500: #EDECD2;
  --color-gul-600: #E0DFC3;
  --color-gul-700: #D1D1B3;
  --color-gul-800: #C2C2A5;
  --color-gul-900: #B3B396;

  --color-brun-50: #F1E4D6;
  --color-brun-100: #E0CAB2;  
  --color-brun-200: #CCB190;
  --color-brun-300: #B69672;
  --color-brun-400: #9D7C56;
  --color-brun-500: #9A754A;
  --color-brun-600: #976E3F;
  --color-brun-700: #926735;
  --color-brun-800: #8D602C;
  --color-brun-900: #875923;

  --font-weight-normal: 500;
  --font-weight-bold: 800;

  --text-sm: 1rem;
  --text-sm--line-height: calc(1.5 / 1);
  --text-base: 1.25rem;
  --text-base--line-height: calc(1.75 / 1.25);
  --text-lg: 1.5rem;
  --text-lg--line-height: calc(2 / 1.5);
  --text-xl: 2.25rem;
  --text-xl--line-height: calc(2.75 / 2.25);
  --text-2xl: 2.5rem;
  --text-2xl--line-height: calc(3 / 2.5);
  --text-3xl: 4rem;
  --text-3xl--line-height: calc(4.5 / 4);
  --text-4xl: 6rem;
  --text-4xl--line-height: calc(6.5 / 6);

  --shadow-button: 5px 5px 0px var(--color-gronn-800);
}

@layer base {
  h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-gronn-800);
  }

  h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-gronn-800);
  }

  h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-gronn-800);
  }

  h4 {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-gronn-800);
  }

  h5 {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-gronn-800);
  }

  p {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
    color: var(--color-gronn-800);
  }

  :root {
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-9: 36px;
    --space-10: 40px;
    --space-11: 44px;
    --space-12: 48px;
    --space-13: 52px;
    --space-14: 56px;
    --space-15: 80px;
    --space-16: 88px;
    --space-17: 104px;
    --space-18: 118px;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

  /* .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  } */
}
@layer utilities{
  .p-small {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
    color: var(--color-gronn-800);
  }
  .navtext {
    font-family: 'Manrope', sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
    color: var(--color-gronn-800);
  }
}