---
import MainLayout from "../layouts/MainLayout.astro";
import Accordion from "../components/Accordion.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import faq from "../assets/images/faq.svg";
---

<MainLayout title="FAQ">
  <section class="px-[36px] md:px-[105px] mt-12 mb-22">
    <h1 class="text-center mb-8">Spørsmål og svar</h1>
    <article class="md:grid grid-cols-3">
      <div class="order-2 col-span-2 mb-12 md:mb-0">
        <Accordion />
      </div>
      <div class="order-1 mx-auto col-span-1 flex justify-center">
        <Image
          src={faq}
          class="sticky top-0 pt-16"
          alt="bjørn og spørsmålstegn"
        />
      </div>
    </article>
  </section>
</MainLayout>
