---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<MainLayout title="Green Kids and Moms">
  <section class="mx-auto">
    <article class="text-center md:mt-36">
      <h1>Green Kids and <br /> Moms Secondhand</h1>
      <p>
        Vi er en moderne gjenbruksbutikk i Oslo, hvor du kan kjøpe billige <br
        />
        brukte barneklær og dameklær i tillegg til brukte leker og barneutstyr
      </p>
      <div class="max-w-xl mx-auto block md:hidden">
        <a href="/booking"
          ><Button variant="primarysmall">Book en stand hos oss!</Button></a
        >
      </div>
      <div class="max-w-xl mx-auto md:block hidden">
        <a href="/booking"
          ><Button variant="primary">Book en stand hos oss!</Button></a
        >
      </div>
    </article>
    <article class="bg-blaa-400 md:grid grid-cols-2 px-[105px] py-8 gap-8">
      <div>
        <h2 class="pb-4">Gjenbruk på en ny og morsom måte!</h2>
        <p class="pb-4">
          Hos oss er det privatpersoner som selger sine brukte dame- og
          barneklær, og barneutstyr. Du kan altså leie en salgsplass, som vi
          kaller en stand. Standen som du leier blir da din egen minibutikk. Du
          kommer og setter opp standen, men vi gjør selve salget! Du får en link
          fra oss hvor du kan følge opp salget hjemme. Vi utbetaler 80% av det
          du selger rett til din bankkonto. Anbefalt leieperiode er 2 uker og
          koster kun 250 kr per uke.
        </p>
        <h3 class="pb-4">Salg av brukte klær har aldri vært så enkelt!</h3>
        <p>
          Butikken vår er ca 200m2 stor, og vi har lekerom i butikken. Shopping
          hos oss er avslappende for foreldre og gøy for barn.
        </p>
      </div>
      <div class="bg-gul-400 rounded-3xl border-4 border-gronn-800">
        <Image src={logo} alt="" />
        <h3>Har du flere spørsmål?</h3>
        <div class="max-w-xl mx-auto block md:hidden">
          <a href="/faq"
            ><Button variant="secondarysmall">Les mer her!</Button></a
          >
        </div>
        <div class="max-w-xl mx-auto md:block hidden">
          <a href="/faq"><Button variant="secondary">Les mer her!</Button></a>
        </div>
      </div>
    </article>
    <Link href="https://www.kea.dk" target="_blank">En anden side</Link>
  </section>
</MainLayout>
