---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Green Kids and Moms">
  <section>
    <article class="text-center mt-18">
      <h1>Green Kids and <br /> Moms Secondhand</h1>
      <p>
        Vi er en moderne gjenbruksbutikk i Oslo, hvor du kan kjøpe billige <br
        />
        brukte barneklær og dameklær i tillegg til brukte leker og barneutstyr
      </p>
      <div class="max-w-xl mx-auto block md:hidden">
        <a href="/booking"
          ><Button variant="mobileprimary">Book en stand hos oss!</Button></a
        >
      </div>
      <div class="max-w-xl mx-auto md:block hidden">
        <a href="/booking"
          ><Button variant="primary">Book en stand hos oss!</Button></a
        >
      </div>
    </article>
    <h2>Dette er h2</h2>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </section>
</MainLayout>
