---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Banner from "../components/Banner.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
import hero from "../assets/images/hero.svg";
---

<MainLayout title="Green Kids and Moms">
  <section class="">
    <article
      class="text-center bg-no-repeat bg-contain bg-center h-[70vh] w-screen"
      style={`background-image: url(${hero.src})`}
    >
      <div class="mx-auto">
        <h1 class="mt-44">Green Kids and <br /> Moms Secondhand</h1>
        <p>
          Vi er en moderne gjenbruksbutikk i Oslo, hvor du kan kjøpe billige <br
          />
          brukte barneklær og dameklær i tillegg til brukte leker og barneutstyr
        </p>
        <div class="max-w-xl mx-auto block md:hidden mt-8">
          <Link href="/booking" variant="primarysmall" target="_blank"
            >Book en stand hos oss!</Link
          >
        </div>
        <div class="max-w-xl mx-auto md:block hidden mt-8">
          <Link href="/booking" variant="primary" target="_blank"
            >Book en stand hos oss!</Link
          >
        </div>
      </div>
    </article>
    <article class="bg-blaa-400 md:grid grid-cols-5 md:px-[105px] py-12 gap-8">
      <div class="col-span-3">
        <h2 class="pb-4">Gjenbruk på en ny og morsom måte!</h2>
        <p class="pb-4">
          Hos oss er det privatpersoner som selger sine brukte dame- og
          barneklær, og barneutstyr. Du kan altså leie en salgsplass, som vi
          kaller en stand. Standen som du leier blir da din egen minibutikk. Du
          kommer og setter opp standen, men vi gjør selve salget! Du får en link
          fra oss hvor du kan følge opp salget hjemme. Vi utbetaler 80% av det
          du selger rett til din bankkonto. Anbefalt leieperiode er 2 uker og
          koster kun 250 kr per uke.
        </p>
        <h3 class="pb-4">Salg av brukte klær har aldri vært så enkelt!</h3>
        <p>
          Butikken vår er ca 200m2 stor, og vi har lekerom i butikken. Shopping
          hos oss er avslappende for foreldre og gøy for barn.
        </p>
      </div>
      <div
        class="bg-gul-400 rounded-3xl border-4 border-gronn-800 col-span-2 flex flex-col items-center justify-center text-center"
      >
        <Image src={logo} alt="logo" class="max-w-[60%]" />
        <h3 class="mt-4">Har du flere <br />spørsmål?</h3>
        <div class="max-w-xl mx-auto block md:hidden">
          <a href="/faq"
            ><Button variant="secondarysmall">Les mer her!</Button></a
          >
        </div>
        <div class="max-w-xl mx-auto md:block hidden">
          <a href="/faq"><Button variant="secondary">Les mer her!</Button></a>
        </div>
      </div>
    </article>
    <Banner text="Kun 250kr / uke" />
    <article class="bg-rosa-200 md:px-[105px] py-12">
      <h2 class="text-center">Book en stand hos oss!</h2>
    </article>
    <article class="md:px-[105px] py-8">
      <h2 class="text-center">Hold deg oppdatert!</h2>
      <p class="">
        Vi er aktive på instagram, og vi poster daglige stories av varene som vi
        har til salgs.
      </p>
      <p>instagram grid</p>
      <div class="max-w-xl mx-auto block md:hidden my-8">
        <Link
          href="https://www.instagram.com/greenkidsmoms/"
          variant="secondarysmall"
          target="_blank">Følg oss på Instagram!</Link
        >
      </div>
      <div class="max-w-xl mx-auto md:block hidden my-8">
        <Link
          href="https://www.instagram.com/greenkidsmoms/"
          variant="secondary"
          target="_blank">Følg oss på Instagram!</Link
        >
      </div>
      <p>
        Vi har også en egen markedsplass på Facebook, hvor du kan se når det
        kommer nye stands. Der kan du også skrive selv, om du er interessert i å
        kjøpe noe spesielt. Markedsplassen heter:
      </p>
      <div class="max-w-xl mx-auto block md:hidden my-8">
        <Link
          href="https://www.facebook.com/greenkidsmomssecondhand/"
          variant="secondarysmall"
          target="_blank">Følg oss på Facebook!</Link
        >
      </div>
      <div class="max-w-xl mx-auto md:block hidden my-8">
        <Link
          href="https://www.facebook.com/greenkidsmomssecondhand/"
          variant="secondary"
          target="_blank">Følg oss på Facebook!</Link
        >
      </div>
    </article>
    <article class="bg-brun-100 grid grid-cols-5 md:px-[105px] py-12">
      <div class="col-span-3">
        <h2 class="pb-4">Visste du at...</h2>
        <p>
          Motebransjen bruker mye vann og kjemikalier, og er den bransjen som
          står for de nest høyeste utslippene i verden? <br /><span
            class="font-bold text-lg"
            >Bare oljeproduksjonen har større utslipp og skader miljøet mer!
          </span><br />Vil du hjelpe med å redusere mengden utslipp, og hjelpe
          til med å skape en renere fremtid for våre barn? Gjennom å velge
          gjenbrukte varer tar du et bevisst miljøvalg, og sparer miljøet for
          unødvendige utslipp! <br /><span class="font-bold text-lg"
            >Det er vi veldig takknemlige for!</span
          >
        </p>
      </div>
      <div class="col-span-2">
        <p>ramme med blomst</p>
      </div>
    </article>
    <article class="md:px-[105px] py-8">
      <h2 class="text-center">Anmeldelser fra våre kunder</h2>
      <div class="grid-cols-3"></div>
    </article>
  </section>
</MainLayout>
