---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Form from "../components/Form.astro";
import { Image } from "astro:assets";
import brev from "../assets/images/brev.svg";
---

<MainLayout title="Kontakt oss!">
  <section class="md:px-[105px] mb-22">
    <h1 class="text-center mb-8">Kontakt oss!</h1>
    <article class="grid grid-cols-2">
      <div class="flex flex-col items-center justify-center">
        <Image src={brev} alt="brev" />
      </div>
      <div>
        <Form />
      </div>
    </article>
  </section>
</MainLayout>
