---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import faq from "../assets/images/faq.svg";
---

<MainLayout title="Kontakt oss!">
  <article>
    <h1>Kontakt oss!</h1>
    <Button variant="secondary">Send inn</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={faq} alt="" />
  </article>
</MainLayout>
