---
const { variant = "primary" } = Astro.props;

const buttonStyling = "rounded-full px-4 p-1.5";

const variantClasses = {
  primary:
    "font-semibold bg-roed-600 text-gul-50 border hover:bg-transparent  hover:border-roed-600 hover:text-roed-600 hover:border",
  secondary:
    "font-semibold bg-lilla-950 text-gul-50 border hover:bg-transparent  hover:border-lilla-950 hover:text-lilla-950 hover:border",
  mobileprimary:
    "font-semibold text-lillebase bg-roed-600 text-gul-50 border-mobile hover:bg-transparent  hover:border-roed-600 hover:text-roed-600 hover:border",
  mobilesecondary:
    "font-semibold text-lillebase bg-lilla-950 text-gul-50 border-mobile  hover:bg-transparent  hover:border-lilla-950 hover:text-lilla-950 hover:border",
};
---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
