---
const { variant = "primary" } = Astro.props;

const buttonStyling = "rounded-full my-4";

const variantClasses = {
  primary:
    "px-12 p-3  bg-rosa-400 border border-2 hover:shadow-button transition-shadow duration-150 border-gronn-800 active:bg-rosa-500 disabled:bg-graa-200 disabled:border-graa-400",
  secondary:
    "px-8 p-3 bg-gronn-200 border-2 hover:shadow-button transition-shadow duration-150 active:bg-gronn-300 disabled:bg-graa-200 disabled:border-graa-400",
  primarysmall:
    "px-4 p-2 bg-rosa-400 border-2 border-gronn-800 transition-shadow duration-150 hover:shadow-button active:bg-rosa-500 disabled:bg-graa-200 disabled:border-graa-400",
  secondarysmall:
    "px-4 p-2 border-2 border-gronn-800 hover:shadow-button transition-shadow duration-150 active:bg-gronn-300 disabled:bg-graa-200 disabled:border-graa-400",
};
---

<button class:list={[buttonStyling, variantClasses[variant]]}
  ><p><slot /></p></button
>
