---
const { variant = "primary" } = Astro.props;

const buttonStyling = "rounded-full my-4";

const variantClasses = {
  primary:
    "px-12 p-2 font-normal bg-rosa-400 text-gronn-800 border border-2 hover:shadow-button border-gronn-800 active:bg-rosa-500",
  secondary: "font-normal text-gronn-800 border-2 hover:shadow-button",
  primarysmall:
    "px-4 p-1.5 font-normal text-gronn-800 text-lillebase bg-rosa-400 border-2 border-gronn-800 hover:shadow-button active:bg-rosa-500",
  secondarysmall:
    "px-4 p-1.5 font-normal text-lillebase text-gronn-800 border-2 border-gronn-800 hover:shadow-button",
};
---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
