---

---

<section class="mx-auto bg-gronn-700 pb-4">
  <h1 class="text-gul-400 text-9xl pb-8">Green Kids and Moms</h1>
  <article class="grid grid-cols-3">
    <section class="">
      <h5 class="text-gul-400 pb-4">Kontakt oss</h5>
      <ul class="footerp">
        <li class="hover:underline">link</li>
        <li class="hover:underline">link</li>
        <li class="hover:underline">link</li>
        <li class="hover:underline">link</li>
      </ul>
    </section>
    <section class="">
      <h5 class="text-gul-400 pb-4">Åpningstider</h5>
      <ul class="footerp">
        <li>Mandag - Fredag</li>
        <li>10 - 18</li>
        <li>Lørdag</li>
        <li>10 - 16</li>
      </ul>
    </section>
    <section>
      <h5 class="text-gul-400 pb-4">Besøk oss her</h5>
      <ul class="footerp">
        <li>Lørenveien 43</li>
        <li>0585 Oslo</li>
      </ul>
    </section>
  </article>
  <p class="footerp text-right">Orgnr: 924212306</p>
</section>
