---
import { Image } from "astro:assets";
import footerlogo from "../assets/images/footerlogo.svg";
---

<section class="mx-auto bg-gronn-700 pb-4">
  <article class="grid grid-cols-10 pb-8">
    <div class="flex justify-center">
      <Image src={footerlogo} alt="logo" class="max-w-[80%]" />
    </div>
    <div class="col-span-9">
      <h1 class="text-gul-400 md:text-9xl text-5xl">Green Kids and Moms</h1>
    </div>
  </article>
  <div class="flex justify-center">
    <article class="md:grid grid-cols-3 gap-20">
      <section class="mb-8">
        <h5 class="text-gul-400 pb-4">Kontakt oss</h5>
        <ul class="footerp">
          <a href="https://www.instagram.com/greenkidsmoms/">
            <li class="hover:underline text-gul-400">Instagram</li></a
          >
          <a href="https://www.facebook.com/greenkidsmomssecondhand/"
            ><li class="hover:underline text-gul-400">Facebook</li></a
          >
          <a href="mailto:hei@greenkm.no"
            ><li class="hover:underline text-gul-400">hei@greenkm.no</li></a
          >
          <a href="tel:+4745877678"
            ><li class="hover:underline text-gul-400">+4745877678</li></a
          >
        </ul>
      </section>
      <section class="mb-8">
        <h5 class="text-gul-400 pb-4">Åpningstider</h5>
        <ul class="footerp">
          <li>Mandag - Fredag</li>
          <li>10 - 18</li>
          <li>Lørdag</li>
          <li>10 - 16</li>
        </ul>
      </section>
      <section class="mb-8">
        <h5 class="text-gul-400 pb-4">Besøk oss her</h5>
        <ul class="footerp">
          <li>Lørenveien 43</li>
          <li>0585 Oslo</li>
        </ul>
      </section>
    </article>
  </div>
  <p class="footerp text-right mr-4">Orgnr: 924212306</p>
</section>
