---
const { imageSlot, titleSlot, textSlot } = Astro.slots;
import { Image } from "astro:assets";
import stjerne from "../assets/images/stjerne.svg";
---

<div class="flex flex-col items-center p-8 gap-8">
  <slot name="bilde" />
  <h3><slot name="overskrift" /></h3>
  <p class="text-sm"><slot name="tekst" /></p>
</div>
