---
import { Image } from "astro:assets";
import Insta from "../assets/images/instagramdummy.svg";
---

<a
  href="https://www.instagram.com/greenkidsmoms/"
  class="max-w-48 hover:scale-105 transition-hover duration-150"
>
  <Image src={Insta} alt="instagrambilde" />
</a>
