---

---

<div class="max-w-sm">
  <div class="grid grid-cols-6 gap-8">
    <div class="col-span-4">
      <h5><slot name="overskrift" /></h5>
    </div>
    <div class="col-span-2">
      <h5><slot name="pris" /></h5>
    </div>
  </div>
  <p class="text-sm"><slot name="tekst" /></p>
</div>
