---
import Link from "../components/Link.astro";
---

<div
  class="max-w-sm mb-8 hover:scale-105 hover:bg-rosa-200 transition-hover duration-150 p-8 rounded-3xl border-2 hover:shadow-button"
>
  <div class="grid grid-cols-6">
    <div class="col-span-4">
      <h5><slot name="overskrift" /></h5>
    </div>
    <div class="col-span-2">
      <h5><slot name="pris" /></h5>
    </div>
  </div>
  <p class="text-sm mt-4"><slot name="tekst" /></p>
  <div class="flex justify-end mt-2">
    <Link href="/booking" variant="primarysmall" target="_blank">Velg</Link>
  </div>
</div>
